<%-include('cabecalho.ejs')%>
    <h1>Adicionando alunos</h1>
    <form method="POST">
        ID: <input type="text" name="id" readonly><br>
        Nome: <input type="text" name="nome" placeholder="Nome" value="<%=req.body.nome%>"><br>
        Endereço: <input type="text" name="endereco" placeholder="Endereço" value="<%=req.body.endereco%>"><br>
        Telefone: <input type="text" name="telefone" placeholder="Telefone" value="<%=req.body.telefone%>"><br>
        <input type="submit">
    </form>
    <%-include('rodape.ejs')%>